{%extends 'base.html'%}
{% block content%}
<h1 style= "background-color: blue; color: aliceblue; width: 30%; margin: auto; text-align: center; padding-bottom: 5px;"> Complete_Tasks</h1>
<table class="table" style="width: 50%; margin: auto;">
    <thead>
        <tr>
             <!-- <th scope="col">#</th> -->
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            
        </tr>
    </thead>
    <tbody>
        {%for item in form%}
        <tr>
            {%if form %}
            <!-- <th scope="row">1</th> -->
            <td>{{item.task_title}}</td>
            <td>{{item.task_description}}</td>
            <td>
                {%if item.completed == False%}

                Incomplete

                {%else%}

                completed

                {%endif%}
            </td>
                  
        </tr>
        {%else%}
        not completed
        {%endif%}
        {%endfor%}

    </tbody>
</table>

{% endblock %}